*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
*.DS_Store
*.Rproj
*.Rhistory
.Rproj.user
.Rproj.user/
cache/
docs/
ex_*.pdf
ex_*.tex
sol_*.pdf
sol_*.tex
tut_*.pdf
tut_*.tex
latex-math
slides/advriskmin/slides-*.pdf
slides/cod/slides-*.pdf
slides/evaluation/slides-*.pdf
slides/forests/slides-*.pdf
slides/gaussian-processes/slides-*.pdf
slides/hypospaces-capacity/slides-*.pdf
slides/information-theory/slides-*.pdf
slides/knn/slides-*.pdf
slides/linear-svm/slides-*.pdf
slides/ml-basics/slides-*.pdf
slides/ml-philosophy/slides-*.pdf
slides/mlr3/slides-*.pdf
slides/multiclass/slides-*.pdf
slides/nested-resampling/slides-*.pdf
slides/nonlinear-svm/slides-*.pdf
slides/regularization/slides-*.pdf
slides/supervised-classification/slides-*.pdf
slides/supervised-regression/slides-*.pdf
slides/trees/slides-*.pdf
slides/tuning/slides-*.pdf
slides/boosting/slides-*.pdf

# vim swap files
*.swp
# used for atom editor
.latexcfg
# Xournal files
*.xoj
# Files created by code demo
code-demos/code_demo_genclass.R
code-demos/code_demo_knn.R
code-demos/code_demo_limo.R
NAMESPACE
