*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
*.DS_Store
*.Rproj
*.Rhistory
.Rproj.user
.Rproj.user/
cache/
docs/
exercise_*.pdf
exercise_*.tex
solution_*.pdf
solution_*.tex
tut_*.pdf
tut_*.tex
latex-math
slides/evaluation/slides-*.pdf
slides/forests/slides-*.pdf
slides/knn/slides-*.pdf
slides/ml-basics/slides-*.pdf
slides/ml-philosophy/slides-*.pdf
slides/mlr3/slides-*.pdf
slides/nested-resampling/slides-*.pdf
slides/supervised-classification/slides-*.pdf
slides/supervised-regression/slides-*.pdf
slides/trees/slides-*.pdf
slides/tuning/slides-*.pdf
slides/advriskmin/slides-*.pdf
# vim swap files
*.swp
# used for atom editor
.latexcfg
# Xournal files
*.xoj
# Files created by code demo
code-demos/code_demo_genclass.R
code-demos/code_demo_knn.R
code-demos/code_demo_limo.R
NAMESPACE
