# Never commit (or touch) latex-math (outsofe of its own repo
latex-math

# Rendered slides that are not moved to slides-pdf (yet) must not be committed
slides/*/slides-*.pdf

# Dummy file for layout adjustment, only exists temporarily by design
slides/*/speakermargin.tex

# Debug stuff for local testing
slides/*-debug

# Unsorted and potentially superfluous
exercises/*/*.pdf
!exercises/svm/figure/eps_tubes.pdf
exercises/*/*.tex
exercises/*/*.log
exercises/*/figure/unnamed-*.pdf
exercises/*/figure/unnamed-chunk*

cache/

tut_*.pdf
tut_*.tex

#-----------------------------------------------------------------------------#
#  TeX intermediate stuff everybody loves to hate and hates to commit to git  #
#-----------------------------------------------------------------------------#
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz

#----------------------------------------------------------#
#  Editor-specific stuff that should generally be ignored  #
#----------------------------------------------------------#

# vim swap files
# http://stratus3d.com/blog/2018/06/03/stop-excluding-editor-temp-files-in-gitignore/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# used for atom editor
.latexcfg
# Xournal files
*.xoj
# Files created by code demo
code-demos/code_demo_genclass.R
code-demos/code_demo_knn.R
code-demos/code_demo_limo.R
NAMESPACE
.idea/*
*.pkl

# RStudio / R in general
*.Rproj
*.Rhistory
.Rproj.user
.RData
.Rdata

#-----------------------------------#
#  OS-specific temp/preview files   #
#-----------------------------------#
*.DS_Store

