/* 
 * evaluation-styles.css
 * 
 * This file defines the CSS styles for the HTML output of the exercise sheets.
 * It handles:
 * 1. Visual indentation for solution blocks and nested content (.indent- classes).
 * 2. Custom list numbering to ensure lists are displayed as a), b), c) instead of 1., 2., 3.
 *    or a., b., c., and that numbering resets correctly for each exercise section.
 */

/* Indentation classes */
.indent-1,
.indent-1-sol {
    margin-left: 2em;
}

.indent-2,
.indent-2-sol {
    margin-left: 4em;
}

/* List numbering a), b), c) */
section.level2,
.level2 {
    counter-reset: list-alpha;
}

ol[type="a"] {
    list-style-type: none;
}

ol[type="a"]>li {
    counter-increment: list-alpha;
    position: relative;
}

ol[type="a"]>li::before {
    content: counter(list-alpha, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

/* Increase body font size for callout tips */
.callout-tip.callout-style-default .callout-body {
    font-size: 1rem !important;
}

/* Incease body and title fond size for callout notes*/
.callout-note.callout-style-default .callout-header,
.callout-note.callout-style-default .callout-body,
.callout-note.callout-style-default .callout-title {
    font-size: 1rem !important;
}