/*-- scss:defaults --*/
$link-color: #6495ed;
$callout-color-tip: #40e0d0;
$callout-color-warning: #ffbd33;

// Add code font size
$code-font-size: 0.89em; // Adjust this value as needed

/*-- scss:rules --*/
code {
    font-size: $code-font-size !important;
}

pre code {
    font-size: $code-font-size !important;
}

// For print media (when printing HTML to PDF)
@media print {

    code,
    pre code {
        font-size: 0.97em !important;
    }
}